<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:tx="http://www.springframework.org/schema/tx" 
xmlns:p="http://www.springframework.org/schema/p"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:security="http://www.springframework.org/schema/security"

xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.2.xsd 
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-3.2.xsd 
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd">
  
   <!--CONTROLLERS TRAVERSING -->
   <context:component-scan base-package="Controllers" />
   
  
   <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      <property name="prefix" value="/WEB-INF/jsp/" />
      <property name="suffix" value=".jsp" />
   </bean>
   
   <!-- TRANSACTION MANAGER ANNOTATION-->
   <tx:annotation-driven transaction-manager="transactionManager"/>

   <!-- DATABASE PROPERTIES & CONNECTION -->
  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" scope="singleton">
  	<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
  	<property name="url" value="jdbc:sqlserver://SRV-DELL:1433;DatabaseName=HapHieng;" />
  	<property name="username" value="sa" />
  	<property name="password" value="sa" />
  </bean>
    
    <!--DATA SOURCE -->
   <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
   	 <property name="dataSource" ref="dataSource"/> <!--INJECT DDATA SOURCE TO TRANSACTION MANAGER -->
   </bean>

   <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="dataSource" />
    <property name="configLocation" value="classpath:Configuration/Configuration.xml"/>
   </bean> 
    
   
 
 <!--SPRING SECURITY ADDED BY SAV 2016/11/19-->
<security:http auto-config="true" use-expressions="true">
   	<!-- DIRECT USER TO LOGIN-->
  <security:intercept-url pattern="/login"  access="isAnonymous()"/>
   	  <security:intercept-url pattern="/**" access="hasRole('USER')"/>
   
   	  <security:form-login  login-page="/login" default-target-url='/'
   	  	authentication-failure-url="/login"
		always-use-default-target='true' 
		username-parameter="username"
		password-parameter="password"
		login-processing-url="/j_spring_security_check"/>
		<security:logout  logout-success-url="/logout"/>
       <security:csrf/>
       
    <!--   <security:session-management>
	       <security:concurrency-control max-sessions="1" />
      </security:session-management> -->
       
       <!--REMEMBER ME FEATURE (NOT NEEDED)-->
       <!-- <security:remember-me token-validity-seconds="1209600" remember-me-parameter="remember-me" data-source-ref="dataSource" /> -->
  </security:http>
    
    
   <security:authentication-manager>
		<security:authentication-provider>
			 
		  <security:jdbc-user-service data-source-ref="dataSource"
		  users-by-username-query= "select username,password, enabled from USERS_TABLE where username=?"
		   authorities-by-username-query= "select username, authority from USER_ROLES_TABLE where username =? " />
			<security:password-encoder hash="bcrypt" />
   		</security:authentication-provider>
  </security:authentication-manager>
  
  
   <!-- MAPPERS-->
  <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" >
    <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    <property name="mapperInterface" value="Mappers.UserMapper" />
  </bean>
  
   <bean id="productMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" >
    <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    <property name="mapperInterface" value="Mappers.ProductMapper" />
  </bean>
  
  <bean id="customerMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" >
    <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    <property name="mapperInterface" value="Mappers.CustomerMapper" />
  </bean>
  
   <bean id="supplierMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" >
    <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    <property name="mapperInterface" value="Mappers.SupplierMapper" />
  </bean>
  
    <bean id="agentMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" >
    <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    <property name="mapperInterface" value="Mappers.AgentMapper" />
  </bean>
  
  
 
  <!--BEAN MODELS -->
  <bean id="user" class="Models.User" scope="session">
  <aop:scoped-proxy/>
  </bean> 
  
  <bean id="product" class="Models.Product" scope="session">
  <aop:scoped-proxy/>
  </bean> 
  
   <bean id="customer" class="Models.Customer" scope="session">
  <aop:scoped-proxy/>
  </bean> 
  
   <bean id="supplier" class="Models.Supplier" scope="session">
  <aop:scoped-proxy/>
  </bean> 
  
   <bean id="agent" class="Models.Agent" scope="session">
  <aop:scoped-proxy/>
  </bean> 
  
   <bean id="pricelist" class="Models.PriceList" scope="session">
  <aop:scoped-proxy/>
  </bean> 
  
 
   <!--INJECTED MAPPERS INB BEANS-->
    <bean id="userImplem" class="Implem.UserImplem">
	    <property name="userMapper" ref="userMapper"/>
    </bean>
    
     <bean id="productImplem" class="Implem.ProductImplem">
	    <property name="productMapper" ref="productMapper"/>
    </bean>
     
      <bean id="customerImplem" class="Implem.CustomerImplem">
	    <property name="customerMapper" ref="customerMapper"/>
    </bean>
    
     <bean id="supplierImplem" class="Implem.SupplierImplem">
	    <property name="supplierMapper" ref="supplierMapper"/>
    </bean>
    
      <bean id="agentImplem" class="Implem.AgentImplem">
	    <property name="agentMapper" ref="agentMapper"/>
    </bean>
  
   <!-- RESOURCE PATH -->
   <mvc:resources mapping="/resources/**" location="/resources/" />
   <mvc:annotation-driven />
   
   <!--EMAIL SENDER BEAN ADDED BY SEIJI VILLAFRANCA 1/21/2017--> 
   <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    <!-- SMTP settings -->
    <property name="host" value="smtp.gmail.com" />
    <property name="port" value="587" />
    <property name="username" value="villafrancasra@gmail.com" />
    <property name="password" value="comsci10" />
 
    <property name="javaMailProperties">
        <!-- additional properties specific to JavaMail -->
        <props>
            <prop key="mail.transport.protocol">smtp</prop>
            <prop key="mail.smtp.auth">true</prop>
            <prop key="mail.smtp.starttls.enable">true</prop>
        </props>
    </property>
   </bean>
 
</beans>