@CHARSET "ISO-8859-1";

body {

	font-family: Roboto;
}

.search-form-box {

	padding: 15px;
}

.action-buttons {

	margin-top: 40%;
	background: rgba(255,255,255,0.2);
	padding: 10px;
}

.menu-button {

	width: 100%;
	border-radius: 0px;
}

.navbar {

	z-index: 1;
	margin: -10px;
	border-radius: 0px;
	border-style: none;
}

.side_navbar .col-md-1 {

	padding: 20px;
}

.side_navbar .btn {

	font-size: 14px;
}

.form-btn {

	width: 100%;
}

.container {

	position: relative;
	z-index: 1;
	max-width: 300px;
	margin: 0 auto;
}

.container:before, .container:after {

	content: "";
	display: block;
	clear: both;
}

.container .info {

	margin: 50px auto;
	text-align: center;
}

.container .info h1 {

	margin: 0 0 15px;
	padding: 0;
	font-size: 36px;
	font-weight: 300;
	color: #1a1a1a;
}

.container .info span {

	color: #4d4d4d;
	font-size: 12px;
}

.container .info span a {

	color: #000000;
	text-decoration: none;
}

.container .info span .fa {

	color: #EF3B3A;
}

.side_navbar .dropdown-menu {

	font-size: 12px;
	z-index: 1;
	color: white;
	background-color: white;
}

.side_navbar .dropdown-menu li {

	color: white;
}

.side_navbar .dropdown-menu li:hover {

	background-color: #82cdff;
}

.side_navbar .dropdown-header {

	background-color: #82cdff;
}

.btn-info {

	border-color: #222638;
	border-bottom-color: gray;
	background-color: #222638;
	font-size: 12px;
}

/* ======================= GENERAL ======================= */

.bg_blue {

	background: #d9edf7;
}

.bg_red {

	background: #f2dede;
}

.bg_dblue {

	background-color: #44618e !important;
	color: white;
}

.bg_yellow {

	background-color: #EFE24B;
}

.bg_black {

	background-color: #000000;
	color: white;
}

.bg_green {

	background-color: #dff0d8;
}

body div:nth-child(2) h3:not(.modal-title) {

	margin-bottom: 3%;
}

select {

	margin-bottom: 3%;
}

/* ======================= ENTRIES TAB ======================= */

.IDE div.TotalAmt, .SRE div.TotalAmt, .SE div.TotalAmt, .SOE div.TotalAmt {

	margin-top: 3%;
	margin-bottom: 3%;
}

/*.IDE .table, .SRE .table, .SE .table, .SOE .table {

 margin-top: 3%;

 margin-bottom: 3%;

 }*/

.SRE .col-md-4 .dropdown .btn, .SRE .col-md-4 .dropdown ul, .SE .col-md-6 .dropdown .btn, .SE .col-md-6 .dropdown ul, .SOE .col-md-6 .dropdown .btn, .SOE .col-md-6 .dropdown ul {

	width: 100%;
}

.SRE .col-md-4 .dropdown ul, .SE .col-md-4 .dropdown ul, .SOE .col-md-6 .dropdown ul {

	font-size: 14px;
}

.datepicker-days thead tr:nth-child(2) th, .datepicker-days td {

	cursor: pointer;
}

/* ============== MODALS ============= */

.modal-content {

	width: 900px;
}

.modal-body .table-block{

	display: block;
	height: 200px;
	overflow-y: scroll;
}

/* ============== TABLES ============= */

.cust_tbl {

	height: 250px;
	overflow-y: auto;
}

.tbl_wrapper {

	max-height: 300px !important;
	overflow-y: auto;
}

.tbl_header {

	margin-bottom: 0;
}

.tables {

	margin-top: 3%;
}

.hoverme:hover {

	background: #E9E9E9;
}

.table-fixed thead {

	width: 100%;
}

.table-fixed tbody td {

	padding-left: 15px;
}

.table-fixed tbody {

	height: 200px;
	overflow-y: auto;
	width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {

	display: block;
}

.table-fixed tbody td, .table-fixed thead > tr > th {

	float: left;
	border-bottom-width: 0;
}

/* ========= INVENTORY DAMAGE ============= */

/* ========= SALES RETURN ============= */

.SRE input#srno {
	width: 70%;
}

/* =========== SALES ORDER ============== */

/* ============= SALES ============= */

.SE .col_3 .btn {
	width: 100%;
}

.SE > .row:last-child {

	padding-top: 10px;
	padding-bottom: 10px;
}

.SE .legend > div > span:not(.glyphicon) {

	padding: 7px 25px;
}

.SE .btn-group {

	margin-top: 3%;
	margin-bottom: 3%;
}

/* ========= GENERATE SALES =========== */

.GSR .input-daterange, .GSR .btn_am {

	margin-top: 25px;
}

.cust_headers {

	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #5DA095;
	color: white;
	border: 1px solid #ddd;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.GSR .list-group-item:first-child {

	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.GSR .list-group-item.active {

	background-color: #FDBE93;
	border-color: #FDBE93;
	color: black;
}

.GSR .row:last-child {

	margin-top: 5%;
	margin-bottom: 5%;
}


/* ========= FORMS =========== */
.form-container{
	padding:25px;
	border-radius:5px;
	border-style: solid;
	border-color:#c9cacc;
	border-width: 0.5px;
	margin-bottom: 3%;
}

/*======BOXES ===== */

.info-box{
	background-color:#222638;
	color:white;
	padding:10px;
}



/*===== ICONS =====*/
.fa-asterisk{
	color: red;
	font-size:6px;
}
