<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Mappers.CustomerMapper">
	
	<select id="getAllCustomers" resultType="Customer">
	  SELECT * FROM CUSTOMER_TABLE order by customer_code	
    </select>

    <select id="getCustomer" resultType="Customer">
    	SELECT * FROM CUSTOMER_TABLE WHERE customer_code = #{0}
    </select>
        
    <select id="getFilteredCustomers" resultType="Customer">
    	SELECT * FROM CUSTOMER_TABLE WHERE customer_code LIKE #{0}
    	AND description LIKE #{1} AND agent LIKE #{2} ORDER BY description
    </select>
    
    <select id="getAllCustomersWithBankFile" resultType="Customer">
    	SELECT * FROM CUSTOMER_TABLE INNER JOIN 
    	CUSTOMER_BANK_FILE_TABLE on 
    	CUSTOMER_BANK_FILE_TABLE.customer_code = CUSTOMER_TABLE.customer_code
    </select>
    
    <update id="editCustomerDetails">
       UPDATE CUSTOMER_TABLE SET description = #{1}, agent = #{2}, address = #{3},
       address2 = #{4}, telephone = #{5}, resident_phone = #{6}, fax = #{7}, cellphone = #{8},
       terms = #{9}, tin_number = #{10}, contact_person = #{11}, email = #{12}, credit_limit = #{13},
       initial_balance = #{14}, remaining = #{15}, customer_type = #{16}, remarks = #{17} WHERE
       customer_code = #{0}
    </update> 
    
    <select id="getCustomerPriceList" resultType="PriceList">
    	SELECT * FROM CUSTOMER_PRICING_TABLE
    </select>  
    
    <update id="editCustomerBankDetails">
      UPDATE CUSTOMER_BANK_FILE_TABLE set account_no = #{1}, account_name= #{2}, bank = #{3}, branch = #{4},
      status = #{5}, bank_remarks = #{6} WHERE customer_code = #{0}
    </update>
    
    <select id="getAllCustomerSales" resultType="Sales">
      SELECT * FROM SALES_TABLE
    </select>
    
    <select id="getFilteredCustomerSales" resultType="Sales">
      SELECT * FROM SALES_TABLE WHERE customer_code LIKE #{0} AND reference_no LIKE #{1}
    </select>
    
    <select id="getAllCustomerSalesReturns" resultType="Sales">
      SELECT * FROM SALES_RETURN_TABLE
    </select>
    
    <select id="getFilteredCustomerSalesReturns" resultType="Sales">
      SELECT * FROM SALES_RETURN_TABLE WHERE customer_code LIKE #{0} AND sr_no LIKE #{1}
    </select>
    
    <insert id="addNewCustomer">
    	INSERT INTO CUSTOMER_TABLE VALUES(#{0}, #{1}, #{2}, #{3}, #{4}, 
    	                                  #{5}, #{6}, #{7}, #{8},#{9}, 
    	                                  #{10}, #{11}, #{12}, #{13}, #{14},
    	                                  #{15}, #{16}, #{17} )
  </insert>
  <insert id="addNewCustomerBankFile">
  	   INSERT INTO CUSTOMER_BANK_FILE_TABLE(customer_code) VALUES(#{0})
  	</insert>

</mapper>
