<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Mappers.ProductMapper">
	<select id="selectProduct" resultType="Product">
        SELECT * FROM PRODUCTS_TABLE WHERE ITEM_CODE = #{0}
	</select>
	
	<select id="getAllProducts" resultType="Product">
        SELECT * FROM PRODUCTS_TABLE
	</select>
	
	<select id="getAllCategories" resultType="string">
		SELECT category FROM CATEGORY_TABLE
    </select>
    
    <select id="getAllProductLine" resultType="string">
    	SELECT product_line FROM PRODUCT_LINE_TABLE
    </select>
    
    <select id="getAllFilteredProducts" resultType="Product">
        SELECT * FROM PRODUCTS_TABLE WHERE product_line LIKE #{0} 
        AND category LIKE #{1}
    </select>
    
    <insert id="addNewProduct">
    	INSERT INTO PRODUCTS_TABLE VALUES(#{0}, #{1}, #{2}, #{3}, #{4},
    	                                 #{5}, #{6}, #{7}, #{8}, #{9},
    	                                 #{10}, #{11}, #{12}, #{13}, #{14},
    	                                 #{15}, #{16}, #{17}, #{18})                                 
    </insert>
    
    <select id="getAllInOutTransactions" resultType="InOutTransaction">
      SELECT * FROM INOUT_TABLE	
    </select>
	 
</mapper>
