<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Mappers.ProductMapper">
	<select id="selectProduct" resultType="Product">
        SELECT * FROM PRODUCTS_TABLE WHERE ITEM_CODE = #{0}
	</select>
	
	<select id="getAllProducts" resultType="Product">
        SELECT * FROM PRODUCTS_TABLE
	</select>
	
	<select id="selectSuspendID" resultType="string">
        SELECT TOP 1 reference_no FROM SUSPEND_TABLE WHERE reference_no = #{0}
	</select>

	<select id="getNextSuspendID" resultType="string">
        SELECT TOP 1 reference_no FROM SUSPEND_TABLE WHERE reference_no LIKE #{0} ORDER BY reference_no DESC
	</select>
	
	<select id="getNextSalesID" resultType="string">
        SELECT TOP 1 reference_no FROM SALES_TABLE WHERE reference_no LIKE #{0} ORDER BY reference_no DESC
	</select>

	<select id="getAllSuspendedSales" resultType="Transaction">
        SELECT reference_no, date, customer_code, terms, po, amount, balance, ctr_ref, currency FROM SUSPEND_TABLE WHERE entry = 'SALES'
	</select>

	<select id="getSuspendedSalesTrans" resultType="Transaction">
        SELECT reference_no, date, customer_code, terms, po, amount, balance, ctr_ref, currency FROM SUSPEND_TABLE WHERE entry = 'SALES' AND reference_no = #{0}
	</select>
	
	<select id="getSuspendedItemSales" resultType="InOutTransaction">
        SELECT * FROM SUSPEND_ITEMS_TABLE WHERE reference_no = #{0}
	</select>

	<select id="deleteSuspendedTrans">
        DELETE FROM SUSPEND_TABLE WHERE reference_no = #{0} AND entry = #{1}
	</select>

	<delete id="deleteSuspendedItem">
        DELETE FROM SUSPEND_ITEMS_TABLE WHERE reference_no = #{0}
	</delete>
	
	<select id="getAllCategories" resultType="string">
		SELECT category FROM CATEGORY_TABLE
    </select>
    
    <select id="getAllProductLine" resultType="string">
    	SELECT product_line FROM PRODUCT_LINE_TABLE
    </select>
    
    <select id="getAllFilteredProducts" resultType="Product">
        SELECT * FROM PRODUCTS_TABLE WHERE product_line LIKE #{0} 
        AND category LIKE #{1}
    </select>
    
    <insert id="addNewProduct">
    	INSERT INTO PRODUCTS_TABLE VALUES(#{0}, #{1}, #{2}, #{3}, #{4},
    	                                 #{5}, #{6}, #{7}, #{8}, #{9},
    	                                 #{10}, #{11}, #{12}, #{13}, #{14},
    	                                 #{15}, #{16}, #{17}, #{18})                                 
    </insert>

    <insert id="addNewSale">
		INSERT INTO SALES_TABLE VALUES(#{0}, #{1}, #{2}, #{3}, #{4}, #{5}, #{6}, #{7}, #{8})                                
    </insert>

    <insert id="addNewInOut_sale">
		INSERT INTO INOUT_TABLE VALUES(#{0}, #{1}, #{2}, #{3}, #{4}, #{5}, #{6}, #{7}, #{8}, #{9}, #{10})                                
    </insert>

    <insert id="addNewSuspend">
		INSERT INTO SUSPEND_TABLE VALUES(#{0}, #{1}, #{2}, #{3}, #{4}, #{5}, #{6}, #{7}, #{8}, #{9})                                
    </insert>

    <insert id="addNewItemSuspend">
		INSERT INTO SUSPEND_ITEMS_TABLE VALUES(#{0}, #{1}, #{2}, #{3}, #{4}, #{5}, #{6}, #{7}, #{8}, #{9}, #{10})                                
    </insert>

    <select id="getAllInOutTransactions" resultType="InOutTransaction">
      SELECT * FROM INOUT_TABLE	
    </select>

    <select id="getLastOrderedPrice" resultType="string">
      SELECT TOP 1 price FROM INOUT_TABLE	WHERE item_code = #{0} AND client = #{1} ORDER BY date DESC
    </select>
    
    <update id="updateSuspend">
		UPDATE SUSPEND_TABLE SET date = #{1}, customer_code = #{2}, terms = #{3}, po = #{4}, amount = #{5}, balance = #{6}, ctr_ref = #{7}, currency = #{8} WHERE reference_no = #{0}
    </update>
	 
</mapper>
