<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Mappers.SupplierMapper">
	  
	  
	  <select id="getAllSuppliers" resultType="Supplier">
	     SELECT * FROM SUPPLIER_TABLE	
	  </select>
	  
	  <select id="getFilteredSuppliers" resultType="Supplier">
	     SELECT * FROM SUPPLIER_TABLE WHERE supplier_code LIKE #{0} 
	     AND description LIKE #{1}
	  </select>
	  
	  <update id="editSupplierDetails">
	  	 UPDATE SUPPLIER_TABLE SET description = #{1}, address = #{2}, address2 = #{3},
	  	 telephone = #{4}, fax = #{5}, email = #{6}, terms = #{7}, initial_balance = #{8}, remaining = #{9} WHERE
	  	 supplier_code = #{0}
	  </update>
	  
	  <select id="getAllSupplierPurchases" resultType="Purchases">
      SELECT * FROM PURCHASES_TABLE
      </select>
    
    <select id="getFilteredSupplierPurchases" resultType="Purchases">
      SELECT * FROM PURCHASES_TABLE WHERE supplier_code LIKE #{0} AND reference_no LIKE #{1}
    </select>
    
    <select id="getAllSupplierPurchasesReturns" resultType="Purchases">
      SELECT * FROM PURCHASES_RETURN_TABLE
    </select>
    
    <select id="getFilteredSupplierPurchasesReturns" resultType="Purchases">
      SELECT * FROM PURCHASES_RETURN_TABLE WHERE supplier_code LIKE #{0} AND reference_no LIKE #{1}
    </select>
    
    <select id="getSupplierPriceList" resultType="SupplierPriceList">
     SELECT * FROM SUPPLIER_PRICING_TABLE	
     </select>
     
     <insert id="addNewSupplier">
     INSERT INTO SUPPLIER_TABLE VALUES(#{0}, #{1}, #{2}, #{3}, #{4}, #{5}, #{6}, #{7}, #{8}, #{9})	
     </insert>
     
     
</mapper>
