<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Mappers.SupplierMapper">
	  
	  
	  <select id="getAllSuppliers" resultType="Supplier">
	     SELECT * FROM SUPPLIER_TABLE	
	  </select>
	  
	  <select id="getFilteredSuppliers" resultType="Supplier">
	     SELECT * FROM SUPPLIER_TABLE WHERE supplier_code LIKE #{0} 
	     AND description LIKE #{1}
	  </select>
	  
	  <update id="editSupplierDetails">
	  	 UPDATE SUPPLIER_TABLE SET description = #{1}, address = #{2}, address2 = #{3},
	  	 telephone = #{4}, fax = #{5}, email = #{6}, terms = #{7}, initial_balance = #{8}, remaining = #{9} WHERE
	  	 supplier_code = #{0}
	  </update>
</mapper>
